<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>認識 Vue.js 框架</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <h1>一. Vue 使用流程</h1>
        <p>
            {{ firstText }} {{ firstText }}
        </p>

        <h1>二. 使用 V-bind </h1>
        <p v-bind:class="textColor">這個斷落的類別使用 Vue 的 v-bind 綁定</p>
        <div v-bind:class="textColor">這個區塊也是使用 v-bind </div>
        <div :style="{'font-size': fontSize + 'px'}">區塊元素 文字大小透過 Vue 的資料處理</div>
        <p :style="{'font-size': fontSize + 'px'}">這段落文字也是透過 Vue 的資料處理</p>

        <h1>三. v-if 判斷是否顯示</h1>
        <!-- v-if會重新渲染元素(建議少用) -->
        <div class="btn" v-if="canBuy">加入購物車</div>
        <div class="btn" v-else="canBuy">商品已售完</div>

        <h1>四. v-show 判斷是否顯示(canBuy: true會顯示 canBuy: false不會顯示)</h1>
        <div class="btn" v-show="canBuy">加入購物車-show</div>

        <h1>五. v-for 迴圈</h1>
        <p>網頁前端工程師需要學會的技能</p>
        <ul>
            <li v-for="skill in web">{{ skill }}</li>
        </ul>

        <h1>六. v-on 綁定事件</h1>
        <div class="btn" v-on:click="count++">點我</div>
        <h3>數字:{{ count }}</h3>
        <div class="btn" v-on:mouseover="count++">滑我</div>
        <h3>數字:{{ count }}</h3>
        <!-- v-on 簡寫 @ -->
        <div class="btn" @click="count++">事件簡寫:點我</div>
        <h3>數字:{{ count }}</h3>
        <!-- 一次性事件 -->
        <div class="btn" @click.once="count++">點擊一次事件</div>
        <h3>數字:{{ count }}</h3>
        <div class="btn" @click.right="count++">點擊右鍵事件</div>
        <h3>數字:{{ count }}</h3>

        <h1>七. Var 方法(函式) function 等於 methon </h1>
        <div class="btn" @click="test">點擊後會呼叫測試方式</div>
        <div class="btn" @click="methonEvent">點擊後會獲得點擊事件的資料</div>
    </div>

    <!-- 在安裝的元素外無法使用資料 -->
    <div>
        {{ firstText }}
    </div>

    <!-- Vue.js CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script.js"></script>
</body>
</html>